<ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
        <ion-slide>
          <div class="slide">
            <img src="assets/slide-1.png"/>
            <h2>Welcome</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="assets/slide-2.png"/>
          <h2>Lorem Ipsum</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </ion-slide>

        <ion-slide>
          <img src="assets/slide-3.png"/>
          <h2>Lorem Ipsum</h2>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/slide-4.png"/>
          <h2>Lets get started</h2>
          <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>