@import "../../../../global.scss";


.dashboard-parent{
    overflow: hidden;
    background-color: $light;
    height: 100%;
    
    .segmented-bar-header{
        margin: 16px 12px 0 12px;
    }

    .message-list{ 
        margin: $space-sm;
        height: 100%;
        overflow-y: auto;
    }

    ion-segment-button {
        text-transform: none;
    }
}